
.table_component {
    overflow: auto;
    width: 100%;
}

    .table_component table {
        border: 1px solid #dededf;
        height: 50%;
        width: 100%;
        table-layout: fixed;
        border-collapse: collapse;
        border-spacing: 1px;
        text-align: left;
    }

    .table_component caption {
        caption-side: top;
        text-align: center;
    }

    .table_component th {
        border: 1px solid #dededf;
        background-color: #eceff1;
        color: #000000;
        padding: 5px;
        text-align: center;
    }

    .table_component td {
        border: 1px solid #dededf;
        background-color: #ffffff;
        color: #000000;
        padding: 5px;
    }

    .table_component i {
        font-size: 10px; /* Adjust the size as needed */
        color: #666666; /* Optional: change the color for italics */
    }

.alpha-list {
    list-style-type: none; /* Remove the default list styling */
    counter-reset: list-counter; /* Initialize the counter */
    padding-left: 1.5em; /* Add padding to indent the list */
}

    .alpha-list li {
        counter-increment: list-counter; /* Increment counter for each item */
        margin-bottom: 0.5em; /* Add some space between list items */
        /*text-indent: -1.5em;  Pull back the bullet to align with the list text */
        /*padding-left: 1.5em;  Indent text to line up with the custom marker */
    }

        .alpha-list li::before {
            content: counter(list-counter, lower-alpha) ") "; /* Display lowercase letter with closing parenthesis */
        }
/* Initially hide all pages */
.page {
    display: none;
}

    /* Show active page */
    .page.active {
        display: block;
    }

.navigation-btns {
    display: flex;
    justify-content: space-between;
}
button{
    display: inline-block;
    outline: 0;
    border: none;
    cursor: pointer;
    font-weight: 600;
    border-radius: 4px;
    font-size: 13px;
    height: 30px;
    background-color: #9147ff;
    color: white;
    padding: 0 10px;
}
<<<<<<< HEAD
=======
    button:disabled {
        display: inline-block;
        outline: 0;
        border: none;
        cursor: not-allowed;
        font-weight: 600;
        border-radius: 4px;
        font-size: 13px;
        height: 30px;
        background-color: #0000000d;
        color: white;
        padding: 0 10px;
    }

>>>>>>> routing changes,
                